.footer {
  background-color: rgb(18, 23, 117);
}
.footer-items {
  margin: 0 47.5px;
  padding: 70px 45px;
}
.footer-top {
  margin-bottom: 30px;
}
.footer-links {
  columns: 3;
}
.footer ul li:hover {
  text-decoration: underline;
  cursor: pointer;
}
.footer ul li,
.questions-title {
  color: antiquewhite;
}
