.footer {
  background-color: rgb(28, 14, 135);
}
.footer-items {
  margin: 0 47.5px;
  padding: 70px 45px;
}
.footer-top {
  margin-bottom: 30px;
  display: flex;
  cursor: pointer;
}

.footer ul li:hover {
  text-decoration: underline;
  cursor: pointer;
}
.footer ul li,
.questions-title {
    columns: 4;
  color: antiquewhite;
}
